
<% content_for :head do %>

<!-- Vendor CSS -->
<link href="vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
<link href="vendors/bower_components/sweetalert2/dist/sweetalert.css" rel="stylesheet">
<link href="vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
<link href="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

<!-- CSS -->
<link href="css/app_1.min.css" rel="stylesheet">
<link href="css/app_2.min.css" rel="stylesheet">
<link href="css/admin_home.css" rel="stylesheet">

<% end %>
<% if defined? flash[:notice_error] != nil %>
<input id="noticeMessage" type="text" name="notice" hidden="hidden" value="<%= flash[:notice_error] %>">
<% end %>
<%= render partial: 'layouts/console/header' %>

<section id="main">

    <%= render partial: 'layouts/console/sideBar' %>

    <section id="content">
        <div class="container">
            <div class="card">
                <div class="welcome-container">
                    <img src="/img/logo.png" class="image-welcome">
                    <h2 class="welcome-text">Bienvenido a la plataforma de administración para Citopat de Colombia</h2>
                    <br>
                    <h4 class="welcome-text">En el panel se muestran los módulos que le han sido asignados a su cuenta.</h4>
                </div>
                
            </div>

        </div>
    </section>
</section>

<%= render partial: 'layouts/console/footer' %>

<% content_for :bottom do %>
<!-- Javascript Libraries -->
<script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="vendors/bower_components/sweetalert2/dist/sweetalert.min.js"></script>


<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
    <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="js/app.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        if($('#noticeMessage').val()){
            swal("Error!", $('#noticeMessage').val(), "error");
        }   
    } );
</script>

<% end %>