<div class="mail-container">
    <div class="banner-container">
        <%= email_image_tag("logo.png", class: "banner-image") %>
    </div>
    <div class="mail-text">
      <p>Hola, <strong><%= @resource.name %> <%= @resource.lastname if @resource.has_attribute?(:lastname) && !@resource.lastname.nil? %></strong>:</p>
        <p>Se ha solicitado el restablecimiento o cambio de la contraseña para el acceso a la plataforma de Citopat de Colombia.

        <div class="credentials">
            <p>Para restablecer o cambiar tu contraseña de la plataforma, haz click <strong><%= link_to 'aqui', edit_password_url(@resource, reset_password_token: @token) %></strong>.</p>
        </div>
        <div class="mail-footer">
            ** Si no solicitó reestablecer la contraseña por favor ignore este correo **<br>** Esto ha sido una notificación automática, por favor no responder
            a este correo **
        </div>
    </div>
</div>
