<!-- Header Starts -->
    <header class="main-header">
    <!-- Nested Container Starts -->
        <div class="container">
        <!-- Top Bar Starts -->
            <div class="top-bar">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <span>Horarios de Atención:</span>  Mon To Fri - 9:00 - 20:00, Sat &amp; Sun - 10:00 - 15:00
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <ul class="list-unstyled list-inline">
                            <!--<li><a href="mailto:care@yourhosptialsname.com">
                                <i class="fa fa-envelope-o"></i>
                                care@yourhosptialsname.com
                            </a></li>-->
                             <% if current_user %>
                                <li>Bienvenido(a) <%= current_user.name %> <%= current_user.lastname if !current_user.lastname.nil? %></li>
                                <li><%= link_to('SALIR', destroy_user_session_path, :method => :delete) %></li>
                            <% else %>
                                <li><a href="/users/sign_in">SERVICIOS DE USUARIO</a></li>
                            <% end %>
                            <!--<li><i class="fa fa-phone"></i> Call Us: 1-800-123-4567</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        <!-- Top Bar Ends -->
        <!-- Navbar Starts -->
            <nav id="nav" class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                <!-- Navbar Header Starts -->
                    <div class="navbar-header">
                    <!-- Collapse Button Starts -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <!-- Collapse Button Ends -->
                    <!-- Logo Starts -->
                        <a href="/" class="navbar-brand">
                            <!--<i class="fa fa-heartbeat"></i>-->
                            <!--Hospitals-->
                            <img src="/img/logo.png" alt="" width="300px">
                        </a>
                    <!-- Logo Ends -->
                    </div>
                <!-- Navbar Header Ends -->
                <!-- Navbar Collapse Starts -->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/news/1">Noticias</a></li>
                          <% if current_user %>
                              <li><a href="/appointments/new">Citas</a></li>
                              <li><a href="/users/<%=current_user.id%>/results">Resultados</a></li>
                          <% end %>
                            <li><a href="/send_pickup_request">Muestras</a></li>
                            <li><a href="/contact">Contáctanos</a></li>
                        </ul>
                    </div>
                <!-- Navbar Collapse Ends -->
                </div>
            </nav>
        <!-- Navbar Ends -->
        </div>
    <!-- Nested Container Ends -->
    </header>
<!-- Header Ends -->